.endModalBackground {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    background-color: #ccccccbe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.endModalBackground .endModal {
    background-color: white;
    padding: 3rem 2rem;
    border-radius: 1.3rem;
}

.endModal h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.endModal .totals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.endModal .totals span {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.7rem 0;
    color: black;
    border-radius: 1.5rem;
}

.endModal .totals span:nth-child(1) {
    background-color: rgba(144, 238, 144, 0.945);
}

.endModal .totals span:nth-child(2) {
    background-color: #FF204E;
}

.endModal .totals h3 {
    font-size: 1.3rem;
}

.endModal p{
    margin: 1rem 0;
    font-size: 1.5rem;
}

.endModal .buttons button{
    margin: .3rem .5rem;
}

@media(max-width: 650px) {
    .endModal h1{
        font-size: 2rem;
    }
    .endModal p{
        font-size: 1.3rem;
    }
}